html, body, section, article,
h1, h2, p, strong, em, ul, li, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;

  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: sans-serif;
  text-align: left;
  margin: 0 auto;
  background: #ccc;
}

h1 {
  text-align: center;
  display:block;
  font-size: 64px;
  font-weight: 700;
  margin: 20px;
}

figure {
  margin: 20px auto;
  display: block;
  position: relative;
  width: 500px;
  height: 800px;
  top: 20px;
}

.tabs {
  font-weight: 700;
}


.tabs > li > a {
  padding: 10px 20px;
  display: block;
}

.tabs > li {
  float: left;
  /*padding: 20px;*/
}

.tabs .active {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #fff;
  font-weight: bold;
}

.tabs a:hover {
  color: blue;
}

.content-tabs {
  background: #fff;
  padding: 20px;
}

.content-tabs .transitioning {
  display: block;
  opacity: 0;
  transition: opacity 500ms;
}

article {
  display: none;
}

article.active {
  display: block;
}
